body {
  font-family: Roboto;
}
h1 {
  font-family: Droid Sans;
  color: #d44072;
  font-size: 26px;
}
h2 {
  font-family: Droid Sans;
  color: #d44072;
  font-size: 26px;
}
h3 {
  font-family: Droid Sans;
  font-size: 26px;
}
a {
  color: #3cbdc8;
  text-decoration: none;
}
a:hover {
  color: #d44072;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
header {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
}
article#maincolumn {
  display: inline;
  float: left;
  width: 620px;
  margin: 0 10px;
}
ul li {
  display: inline;
}
.post1 {
  display: inline;
  float: left;
  width: 380px;
  margin: 0 10px;
}
.post2 {
  display: inline;
  float: left;
  width: 380px;
  margin: 0 10px;
  float: right;
}
